:root {
  --branco: #fff;
  --preto: #000;
  --quasePreto: #0B0B0B;
  --primaria: #21211F;
  --secundaria: #595855;
  --cinzaEscuro: #3A3A3A;
  --cinzaClaro: #EEEEEE;
  --cinza: #F6F6F6;
  --ciano: #33E5B0;
  --borda: #BFBDB6;
  --vermelho: #ee3b2b;
}